.container{
    width:100%;
    overflow: hidden;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.container img{
    width: 100%;
}

.pp1{
    position: absolute;
    left:100px;
    top:50px;
    font-size: 26px;
    color: #fff;
}
.pp2{
    position: absolute;
    left:100px;
    top:100px;
    font-size: 26px;
    color: #fff;
}

.pp3{
    position: absolute;
    left:100px;
    top:150px;
    font-size: 20px;
    color: #fff;
}

.pp4{
    position: absolute;
    left:100px;
    top:200px;
    font-size: 18px;
    color: #fff;
}










